@charset "UTF-8";

/* 遮罩层 */
.bg-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.3);
}

/* 背景层 */
.bg-img-wrapper {
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.bg-img-wrapper .bg-img {
  width: 100%;
  height: 100%;
}

/* 上方信息模块 */
.information-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  height: 3.6rem;
}

.information-wrapper .time-information {
  margin: 0.5rem;
  background: #ffd24d;
  border: 0.4rem solid #8c6900;
  border-radius: 1.5rem;
  width: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.information-wrapper .money-information {
  margin: 0.5rem;
  background: #ffd24d;
  border: 0.4rem solid #8c6900;
  border-radius: 1.5rem;
  width: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 1rem;
}

/* 厨师模块 */
.chiefs-wrapper {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  background: #ffd24d;
  margin: 0.5rem;
  border: 0.5rem solid #fff;
  border-radius: 1.4rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.chiefs-wrapper .chief-wrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 33.3%;
  min-width: 33.3%;
  max-width: 33.3%;
  height: 33.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0.6rem 0;
}

.chiefs-wrapper .chief-wrapper .chief-add-img-wrapper {
  width: 80%;
  height: 80%;
  border: 0.4rem solid #fff;
  border-radius: 50%;
  background-color: #a3a2a2;
}

.chiefs-wrapper .chief-wrapper .chief-add-img-wrapper .chief-add-img {
  width: 100%;
  height: 100%;
}

.chiefs-wrapper .chief-wrapper .chief-img-wrapper {
  width: 80%;
  height: 80%;
  border: 0.4rem solid #fff;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, from(#dddddd), color-stop(50%, #dddddd), color-stop(51%, #aaaaaa), to(#aaaaaa));
  background: linear-gradient(to right, #dddddd 0%, #dddddd 50%, #aaaaaa 51%, #aaaaaa 100%);
}

.chiefs-wrapper .chief-wrapper .chief-img-wrapper .chief-img {
  width: 100%;
  height: 100%;
}

/* 就餐模块 */
.customers-wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 13rem;
  background: #ffa64d;
  margin: 1rem 0.5rem;
  border: 0.5rem solid #fff;
  border-radius: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.customers-wrapper .customer-wrapper {
  position: relative;
  width: 50%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
/* 外部 */
.customer-wrapper .progress-container {
  position: absolute;
  left: 65%;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}
.customer-wrapper .progress-wrapper {
  position: relative;
  margin-top: .1rem;
  height: 1.5rem;
  width: 4rem;
  font-size: 0.05rem;
  color: white;
  background: rgb(38, 147, 255);
  border: .12rem solid white;
  text-align: center;
  line-height: 1.5rem;
}
.progress {
  position: absolute;
  animation: progressWait 50s linear forwards;
  background: blue;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0%;
}

.customers-wrapper .customer-wrapper .customer-img-wrapper {
  width: 5rem;
  height: 5rem;
  border: 0.4rem solid #fff;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, from(#dddddd), color-stop(50%, #dddddd), color-stop(51%, #aaaaaa), to(#aaaaaa));
  background: linear-gradient(to right, #dddddd 0%, #dddddd 50%, #aaaaaa 51%, #aaaaaa 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.customers-wrapper .customer-wrapper .customer-img-wrapper .customer-img {
  width: 130%;
  height: 130%;
}

/* 等位区 */
.wait-area {
  position: fixed;
  bottom: 0.3rem;
  height: 4.2rem;
  left: 0.5rem;
  right: 0.5rem;
  display: flex;
  flex-direction: row-reverse;
}
.wait-area:nth-child(1) {
  position: relative;
  left: 0;
}
.wait-area .customer {
  width: 3.2rem;
  height: 3.2rem;
}
.wait-area .customer-img-wrapper {
  width: 3.2rem;
  height: 3.2rem;
  border: 0.3rem solid white;
  border-radius: 50%;
  background: rgb(0, 109, 217);
  display: flex;
  align-items: center;
  justify-content: center;
}

.wait-area .customer-img-wrapper .customer-img {
  display: block;
  width: 140%;
  height: 140%;
}



.wait-area .progress-wrapper {
  position: relative;
  top: -0.4rem;
  left: -.4rem;
  height: 1.5rem;
  width: 4rem;
  font-size: 0.05rem;
  color: white;
  background: rgba(38, 147, 255);
  border: 0.12rem solid white;
  text-align: center;
  line-height: 1.5rem;
}

.wait-area .progress-wrapper .text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
}

.wait-area .progress {
  animation: progressWait 50s linear forwards;
  position: absolute;
  background: blue;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0%;
}

@keyframes progressWait {
  0% {
    width: 0%;
  }

  50% {
    width: 50%;
  }

  100% {
    width: 100%;
  }
}

/* 短消息 */
.info {
  position: absolute;
  box-sizing: content-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(217, 230, 125);
  height: 4rem;
  line-height: 2rem;
  width: 16rem;
  border: 0.5rem solid #fff;
  border-radius: 1.4rem;
  color: #796529;
  font-weight: 600;
  display: none;
}

.info .info-content {
  padding: .1rem;
  word-wrap: break-word;
}


/* modal模块 */
.modal {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 14rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #ffd24d;
  border: 0.5rem solid #fff;
  border-radius: 1.4rem;
  margin: 0 .5rem;
  z-index: 201;
}

.modal .modal-title {
  margin-top: 0.6rem;
  height: 1.2rem;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

.modal .modal-content {
  height: 8rem;
  padding: .6rem .4rem .2rem 1.2rem;
  font-size: .72rem;
  word-wrap: break-word;
  line-height: 1.4rem;
  color: #977207;
  font-weight: 600;
}

.modal .modal-button-area {
  height: 2rem;
}

.modal .modal-button-area .modal-button {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  font-size: 1rem;
  color: #977207;
  background: #ffd24d;
  border: 0.15rem solid #8c6900;
  margin: 0 auto;
  font-weight: bold
}

.modal .modal-button-area .button-middle {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 14rem;
  border-radius: 2rem;
  height: 100%;
}

.modal .modal-button-area .button-left {
  float: left;
  margin: 0.5rem;
  width: 8rem;
  border-radius: 2rem;
  height: 100%;
}

.modal .modal-button-area .button-right {
  float: right;
  margin: 0.5rem;
  width: 5rem;
  height: 100%;
  border-radius: 1.2rem;
}

.modal .task {
  font-size: 1rem;
  font-weight: bold;
}

/* 菜单模块 */
.menu-wrapper {
  position: absolute;
  display: none;
  top: 4rem;
  left: .5rem;
  right: .5rem;
  bottom: 2rem;
  border: .5rem solid rgb(255, 255, 255);
  border-radius: 1rem;
  background: rgb(255, 210, 77);
  z-index: 201;
}

.menu-wrapper .menu-content-area {
  position: absolute;
  top: 2rem;
  bottom: 4rem;
  left: 1.2rem;
  right: 1.2rem;
  padding: 0 1rem;
  border: .2rem solid rgb(202, 152, 1);
  color: #977207;
  background: rgb(255, 255, 255);
}

.menu-wrapper .title {
  margin-top: 1rem;
  font-weight: 600;
}

.menu-wrapper .menu-item {
  font-size: .9rem;
  box-sizing: content-box;
  margin-top: .2rem;
  height: 1.2rem;
  line-height: 1.2rem;
  display: flex;
  align-items: center;
}

.menu-wrapper label {
  flex: auto;
  display: flex;
  align-items: center;
}

.menu-wrapper .item-name {
  margin-left: .2rem;
  flex: 1;
}

.menu-wrapper .item-price {
  flex: .4;
  margin-left: 1rem;
}

.menu-wrapper .button-area {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  bottom: 0;
  height: 4rem;
  left: 0;
  right: 0;
  display: flex;
  padding: 0 1rem;
  align-items: center;
  font-size: 1rem;
  background: #ffd24d;
}

.menu-wrapper .button-area .button {
  color: #977207;
  background: #ffd24d;
  border: 0.15rem solid #8c6900;
  margin: 0 auto;
  font-weight: bold;
  height: 3rem;
}

.menu-wrapper .button-area .button-left {
  flex: 2;
  margin: 0.5rem;
  border-radius: 2rem;
}

.menu-wrapper .button-area .button-right {
  flex: 1;
  margin: 0.5rem;
  border-radius: 1.5rem;
}



.customer-information {
  position: absolute;
  display: none;
  top: 1.5rem;
  left: 1.5rem;
  right: 0;
  z-index: 222;
}

.customer-information .customer-img-wrapper {
  width: 5rem;
  height: 5rem;
  border: 0.4rem solid #fff;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, from(#dddddd), color-stop(50%, #dddddd), color-stop(51%, #aaaaaa), to(#aaaaaa));
  background: linear-gradient(to right, #dddddd 0%, #dddddd 50%, #aaaaaa 51%, #aaaaaa 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.customer-information img {
  height: 140%;
  width: 140%;
}

.customer-information .customer-text-info {
  position: absolute;
  left: 5rem;
  top: 3rem;
  height: 2rem;
  line-height: 2rem;
}


/*# sourceMappingURL=index.css.map */